#clientSay{
    margin: 10% 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.what-clients-say{
    
    user-select: none;
    height: 40vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  30px;
    margin-left: 30px;
    /* position: relative; */
    
}

.wrappered{
    user-select: none;
}

.reviews{
    /* position: absolute; */
    user-select: none;
    background: white;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.227);
    border-radius: 3px;
    display: flex;
    align-items:flex-start;
    padding:  20px 20px;
    gap: 20px;
    transition: 1s ease;
}

.reviews img{
    width: 8%;
}

.name-and-review{
    margin-top:10px ;
}
.name-and-review h3{
    font-size: 35px;
}

.name-and-review ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name-and-review ul li{
    all: unset;
}

.name-and-review ul li img{
    width: 100%;
}
.name-and-review p{
    font-size: 15px;
    margin-top: 15px;
    color: gray;
}
